# Environment and secrets
.env

# IDE
.vscode

# Python
__pycache__/
*.py[cod]
*.pyc
*$py.class

# Django
*.sqlite3
db.sqlite3
db.sqlite3-journal
*.log
staticfiles/
media/

# Node
node_modules/
package-lock.json

# OS
.DS_Store
*.swp
*.swo
*~
